* {
    font-family: Roboto, sans-serif;
}

header {
    position: relative;
}
nav {
    min-height: 51px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    transition: 0.2s ease-out;
}

.menu-link:hover,
.phone:hover {
    color: #1eacc7;
    text-decoration: none;   
}

.menu-item {
    border-right: 2px dotted #000;
    padding-right: 30px;
}

.menu-item:last-child {
    border-right: none;
}

.subheader {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

.subheader-row {
    padding: 17px 0;
}

.main-img {
    max-width: 290px;
}
.subtitle {
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
}

.call-us {
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    font-weight: 300;
}

.phone {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s ease-out
}

.btn {
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-weight: 300;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    transition: transform 0.2s ease-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-main {
    width: 172px;
    height: 46px;
    font-size: 14px;
}

.promo {
    padding: 200px 0 135px 0;
    min-height: 800px;
    text-align: center;
    background: url(../img/bg/main-bg.jpg) center center / cover no-repeat;

}

.promo-header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 20px;
}

.promo-subheader {
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.promo-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 118px;
}

.btn-promo {
    width: 259px;
    height: 63px;
    margin: 0 auto;
    font-size: 18px;
    border: none;
}

.advantages {
    padding: 71px 0 68px 0;
    text-align: center;
}

.section-title {
    color: #ffffff;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    margin: 0 auto;
}

.adv-title {
    width: 112px;
    height: 24px;
    background-color: #000000;
    margin-bottom: 38px;
}

.adv-main-title {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.img-round {
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}

.adv-item {
    display: flex;
}

.adv-flex {
    max-width: 340px;
    align-self: center;
}

.adv-descr {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 21px;
    margin-bottom: 35px;
}

.adv-name {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    line-height: 21px;
    margin-bottom: 10px;
}